<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="org.ecorventures.ngn.MDNS" version="0.1.0">
  <name>MDNS</name>
  <description>mDNS Plugin for NGN</description>
  <license>GPL</license>
  <keywords>ngn,mdns,bonjour,zeroconf</keywords>

  <js-module src="www/MDNS.js" name="MDNS">
    <clobbers target="window.MDNS" />
  </js-module>

  <engines>
    <engine name="cordova" version="3.4.1" />
  </engines>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="MDNS">
        <param name="android-package" value="org.ecorventures.ngn.MDNS"/>
      </feature>
    </config-file>
    <source-file src="src/android/MDNS.java" target-dir="src/org/ecorventures/ngn" />
  </platform>
</plugin>
